* {
    box-sizing: border-box;
  }
  
  body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #423a41;
    overflow: hidden;
  }
  
  .cover {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    pointer-events: none;
  }
  
  .wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .panda_face.hide { opacity: 0; }
  
  span { margin-left:12px; }
  
  .sign {
    position: absolute;
    color: white;
    bottom: 10px;
    right: 10px;
    font-size: 10px;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .panda {
    position: absolute;
    height: 45px;
    width: 45px;
    overflow: hidden;
    transition: 2s;
  }
  
  .panda_inner {
    height: 100%;
  }
  
  .panda_inner svg {
    height: 100%;
    width: auto;
  }
  
  button {
    width: 180px;
    padding: 10px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid rgb(131, 88, 59);
    border-width:2px 2px 7px 2px;
    border-radius: 10px;
    background-color: rgb(83, 39, 9);
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    color: white;
    transition: 0.3s;
    cursor: pointer;
  }
  
  button:hover {
    border-width:2px 2px 4px 2px;
    margin-top: 3px;
  }
  
  button:focus {
    outline: none;
    box-shadow: 0 0 0 4px hotpink;
  }
  
  .panda_face {
    position: relative;
    height: 25px;
    width: auto;
  }
  
  .panda_face {
    opacity: 1;
  }
  
  .panda_face svg {
    height: 100%;
    width: auto;
  }
  
  .panda_white { fill: white; }
  .blue { fill: #12b7e9; }
  .green { fill: rgb(43, 163, 113); }
  .pink { fill: hotpink;}
  .brown { fill: rgb(126, 80, 62);}
  .dark_brown { fill: rgb(53, 34, 27);}
  
  button:hover .panda_face {
    animation: bop infinite 0.5s;
  }
  
  @keyframes bop {
    0% {
      top: 0;
      transform: scale(1);
    }
    50% {
      top: -5px;
      transform: scale(0.95,1.05);
    }
    90% {
      transform: scale(1.1,0.9);
    }
    100% {
      top: 0;
      transform: scale(1);
    }
  }
  
  button.animate svg {
    animation: spin infinite linear 0.5s;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(-720deg);
    }
  }
  
  @keyframes fadeout {
    0% { 
      opacity: 1;
    }
    90% { 
      opacity: 0;
    }
    100% { 
      opacity: 0;
      display: none;
    }
  } 
  
  button:hover .fade_in,
  .panda_face.fade_in {
    animation: fade_in forwards 0.5s;
  }
  
  @keyframes fade_in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  button.animate {
    border-color: rgb(58, 28, 9);
    transform-origin: bottom right;
    animation: shake ease forwards 0.5s;
  }
  
  @keyframes shake {
    0% { 
      transform-origin: bottom right;
      transform: translate(0,0) rotate(0deg);
    }
    40% { 
      transform: translate(5px,0) rotate(45deg);
    }
    70% {
      transform-origin: bottom right; 
      transform: translate(5px,0) rotate(45deg);
    }
    85% { 
      transform-origin: bottom left; 
      transform: translate(0,0) rotate(-20deg);
    }
    95% { 
      transform: translate(0,0) rotate(0deg);
    }
    100% { 
      transform-origin: bottom right;
      transform: translate(0,0) rotate(0deg);
    }
  }
  